{{- /* Copyright © 2026 Michael Shields. SPDX-License-Identifier: CC-BY-4.0 */ -}}
{{ define "head" }}
  <meta name="go-import" content="gitcalver.org/go git https://github.com/gitcalver/go">
  <meta name="go-source" content="gitcalver.org/go https://github.com/gitcalver/go https://github.com/gitcalver/go/tree/main{/dir} https://github.com/gitcalver/go/blob/main{/dir}/{file}#L{line}">
  <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/gitcalver.org/go">
{{ end }}
{{ define "main" }}
<article class="prose wrap">
  <h1>gitcalver.org/go</h1>
  <p>Redirecting to <a href="https://pkg.go.dev/gitcalver.org/go">pkg.go.dev/gitcalver.org/go</a>.</p>
</article>
{{ end }}
